body {
    font-family: 'Arial', sans-serif;
    color: #4A4747;
}


h1,h2,h3 {
    font-family: 'Bookman', serif;
}


div#wrapper {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}


div.movie-list-item {
    /* the modern clearfix! */
    display: flow-root;
}


img.movie-poster {
    float: left;
    margin-right: 1em;
    margin-bottom: 2em;
    height: 167px;
    width: 100px;
}


div.pager {
    font-size: 150%;
}